@font-face {
  font-family: "kenney_pixel";   
  src: url('../src/assets/Font/kenney_pixel.ttf');
}
/* @font-face {
  font-family: "kenney_blocks";   
  src: url('../src/assets/Font/kenpixel_blocks.ttf');
} */